<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset='utf-8' />
</head>
<body>
  <h1>{{title}}</h1>
  {{{content}}}
  {{#meta}}
    {{#author}}Tę bzdurę opublikowali {{author}}.{{/author}}
  {{/meta}}
</body>
</html>